/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
   body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Placer derrière tout */
  }
  
  .container {
    position: relative; /* Permet de superposer correctement */
    z-index: 1; /* Placer le container au-dessus */
  }
  
   
   

   
   /* ---- particles.js container ---- */
   
   #particles-js{
     width: 100%;
     height: 100%;
     background-color: #4A919E;
     background-image: url('');
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
   }
   


   .code-line {
    font-family: 'Courier New', Courier, monospace; /* Police de caractère monospace pour simuler du code */
    font-size: 18px; /* Taille de police idéale pour un code */
    background: linear-gradient(145deg, #333333, #444444); /* Dégradé de fond pour simuler un éditeur */
    border-radius: 8px; /* Bords arrondis pour donner un effet moderne */
    padding: 15px; /* Espace autour du texte */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Ombre pour un effet de relief */
  }
  
  code {
    background: #2e2e2e; /* Fond plus sombre pour le code */
    padding: 5px 10px; /* Espace autour du code */
    border-radius: 5px; /* Coins arrondis pour le code */
    font-size: 1.2em; /* Agrandir légèrement le texte du code */
    color: #f5f5f5; /* Couleur claire pour le texte du code */
    display: inline-block; /* Assurer que le texte code soit sur une ligne */
  }
  